body {
  /* margin: 0px;
  padding: 0px; */
}
footer {
  /* padding: 1em; */
}
.content {
  /* padding: 1em; */
}
#header {
  /* background-image: url("./images/bread_selection_2xl_banner.jpg");
  background-size: cover; */
  text-align: center;
  height: 20vh;
  width: 100vw;
  padding: 1em;
}
